services:
  ros2_humble:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: hexapodo_ros2:latest
    container_name: hexapodo_dev
    network_mode: host
    privileged: true
    volumes:
      - ./src:/ros2_ws/src
      - /dev:/dev
    environment:
      - DISPLAY=${DISPLAY}
      - ROS_DOMAIN_ID=0
    stdin_open: true
    tty: true
    restart: unless-stopped
